.part1{
  position: relative;
  h1{
    width: 100%;
    text-align: center;
    position: absolute;
    // top:40%;
    // left:50%;
    // transform: translate(-50%, -50%); 
    font-size:56px;
    color:#fff;
  }
  .pt1_text{
    position: relative;
    top: -3rem;
    width: 100%;
    .pt1_bg{
    background: linear-gradient(135deg, #D4FF72 0%, #7FF7E3 100%);
    border-radius: 16px;
    // height:180px;
    padding-top:35px;
    padding-bottom: 30px;
    text-align: center;
    p{
      width:65%;
      margin:0 auto;
      margin-bottom: 1rem;
    }
    }
  }
}
.part2{
  // margin-top:155px;
  margin-bottom: 80px;
  .container{
    img{
      margin-top:2rem;
    }
  }
  p{
    font-size:14px;
    line-height: 25px;
    margin-top:16px;
  }
}
.part3{
  margin-bottom: 100px;
  background: #F6F8FA;
  padding:96px 0;
   .wbg{
      background: #fff;
    padding: 50px 50px 50px 135px;
    border-radius: 0px 0px 40px 0px;
    // height: 426px;
    }
  .jrsx{
    display: flex;
    margin-top:40px;
    width:100%;
    margin-left:-7%;
    div{
      flex:1;
      width:100%
    }
    span{
      display: inline-block;
      width:56px;
      text-align: center;
      margin-top:8px;
    }
  }
  p{
    // text-align: justify;
    line-height: 32px;
  }
  .leftimg{
    position: relative;
    .img{
      width:100%;
      position: absolute !important;
      top:-37px;
      left:7rem !important;
    }
  }
  .hg_icon_bg{
    background: #F2FEF9;
    width: 56px !important;
    height: 56px;
    text-align: center;
    line-height: 56px;
    border-radius: 8px;
    margin:0 auto;
  }
}
.part4{
  margin-bottom: 96px;
  .bt{
    margin-top: 70px;
  }
  .textwrap{
    background: #F6F8FA;
    padding:24px;
    border-radius: 16px;
    margin-bottom: 35px;
    transition:all 1s ease;
    height: 240px;
    p{
      font-size:14px;
      line-height:30px;
      color:#333;
      margin-top:24px;
    }
    div{
      background: #03CD8A;
      color:#fff;
      border-bottom-right-radius:10px;
      width:40px;
      height:40px;
      text-align: center;
      line-height: 40px;
    }
  }
  .textwrap:hover{
    background: #F6F8FA linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%);
    cursor: pointer;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    div{
      background: #fff;
      color:#03CD8A
    }
  }
}
.part5{
  background: #F6F8FA;
  padding:96px 0;
  .bt{
    margin-top:100px;
    .bgw{
      background: #fff;
      padding:50px;
      border-radius: 0px 0px 0px 40px;
     .ac_bt{
      button{
        background: #fff;
        padding: 24px 0;
        font-size: 18px;
      }
      button::after{
        // background-color: #03CD8A;
      }
     }
     .textbg{
      padding:10px;
      border-radius: 8px;
        background: #F6F8FA linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%);
        ul{
          list-style: none;
        }
        li{
          font-size:14px;
          span{
            display: inline-block;
            width: 10px!important;
            font-size: 24px;
          }
        }
      }
    }
  }
  .identity_hg{
    position: relative;
    .img{
      position: absolute;
      top:-37px;
      left:-43px;
      width:100%;
    }
  }
}
.part6{
    padding:96px 0;
    margin-bottom: 96px;
    .process_a{
      margin-top:17rem;
      .process_wrap{
        background: #F6F8FA;
        display: flex;
        align-items: center;
        border: 4px solid #fff;
        // border-image: linear-gradient(134deg, rgba(212, 255, 114, 1), rgba(131, 248, 223, 1)) 4 4 round;
        padding:29px;
        // text-align: justify;
        border-radius: 16px;
        position: relative;
        margin-bottom: 10rem;
        height: 21rem;
        .process_arrow_1{
          position: absolute;
          top: -9.3rem;
          right: -8rem;
        }
        .process_arrow_1_bottom{
          bottom: -9rem;
          top: unset;
          left: -8rem;
        }
        .process_img{
          position: absolute;
          top:-65px;
          
        }
        .process_top{
          width: 144px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          background: #03CD8A linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%);
          border-radius: 8px;
          font-size: 24px;
          position: absolute;
          right: 16px;
          top: -35px;
          font-size:20px
        }
        p{
          font-size:14px;
          line-height: 22px;
        }
        .process_img_1_1{
          position: absolute;
          bottom: -5rem;
          right: -3rem;
          }
        
      }
      .process_wrap:hover {
        background: #F2FEF9;
        border: 4px solid;
        border-image: linear-gradient(134deg, rgba(212, 255, 114, 1), rgba(131, 248, 223, 1)) 4 4 round;
      }
      .process_wrap_2{
        .process_img{
            top:unset;
           bottom: -5.5rem;
    right: 18rem;
          }
        .process_top{
          top:20rem;
          
        }
      }
    }
}
@media  screen and (max-width: 1400px) {
  .part3{
    .wbg{
      // height: 28rem;
    }
  }
}
@media  screen and (max-width: 1300px) {
  .part1{
    h1{
      top:-10%
    }
  }
}
@media  screen and (max-width: 1200px) {
  .part3{
    .wbg{
      // height: 28rem;
    }
    .leftimg{
      .img{
        top: 50px;
        left: 34px;
      }
    }
    p{
      margin-left:1rem;
    }
    .jrsx{
      margin-left:-4%;
    }
  }
  .part4{
    .textwrap{
      height: 270px;
    }
  }
  .phone_arrow{
  display: none;
}
}

@media  screen and (max-width: 1192px) {
  .part1{
    h1{
      font-size:38px;
      top: -9% !important;
    }
    
  }
}
@media  screen and (max-width: 991px) {
  .part1{
    h1{
      width:100%;
      text-align: center;
    }
  .pt1_text{
    .pt1_bg{
    p{
     
      font-size:14px;
    }
    }
  }
}
.part3{
  .leftimg{
    .img{
      position: unset !important;
    }
  }
  .wbg{
    padding:1rem;
  }
}
.phone_arrow{
  display: none;
}
  .identity_hg{
    display: none;
  }
}
@media  screen and (max-width: 981px) {
  .part1{
    
  }
  .part3{
    .leftimg{
      flex:unset;
      img{
        position: unset;
        margin-bottom: 20px;
      }
    }
  }
}
@media  screen and (max-width: 770px) {
  .part1{
    h1{
      top:-18% !important;
      font-size:2rem;
    }
  }
  .part4{
    .textwrap{
      height: 360px;
    }
  }
}
@media  screen and (max-width: 600px){
  .part1{
    h1{
      font-size:1.5rem;
    }
  }
}
@media  screen and (max-width: 576px){
  .part1{
    margin-top:4.1rem;
    span:first-child{
      height: 12rem!important;
    }
    img{
      height:360px !important;
    }
    h1{
      top:8% !important;
      font-size: 1.8rem;
    }
    .pt1_text{
      top: -2rem !important;
    position: relative;
      p{
        width:95% !important;
      }
    .pt1_bg{
    p{
      margin-left:3%;
    }
    }
  }

   
  }
  .part2{
    margin-bottom: 38px;
    margin-top:0rem!important;
  }
  .part3{
    // padding:55px 0;
    // padding-bottom: 145px;
    // margin-bottom: 65px;
    .wbg{
      padding:0.8rem;
      height: unset;
    }
    .jrsx{
      margin-left:0;
     
    div{
      flex:1;
    }
  }
  p{
    margin-left:0;
  }
  .leftimg{
    .img{
      position: unset!important;
    }
  }
  .hg_icon_bg{
    width:unset;
   margin: 0 6px;
  }
  }
  .part4{
    margin-bottom: 2px;
    .textwrap{
      height: 260px;
    }
  }
  .part5 {
    .bgw{
      padding:12px !important;
      
    }
  }
 
  .part6{
    margin-bottom: 0;
    padding-top:60px;
    padding-bottom: 0;
    .process_wrap{
     padding: 17px !important;
     height: 15rem!important;
     margin-bottom: 5rem !important;
      text-align: unset!important;
     p{
      text-align: unset!important;
     }
     .process_img{
      display: none;
      // top:-110px !important;
      // left:0 !important;
     }
     .process_arrow_1{
      display: none;
          // position: absolute;
          // top: -10.5rem!important;
          // right: -9rem!important;
        }
     .process_img_1_1{
      display: none;
          // position: absolute;
          // bottom: -30rem !important;
          // right: -5rem !important;
          }   
    }
    .process_top{
      top:-44px !important;
      right: unset !important;
      // background: #E5E7E9 !important;
    }
    .process_a{
      margin-top:7rem;
    }
  }
  .textbg{
    ul{
      padding-left: 0;
    }
  }
}
 
