@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Regular.woff2') format('woff2') ;
}

body,html {
  font-family: 'PingFang SC', sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color:#333;
  max-width: 100vw;
  overflow-x: hidden;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.mt_24{
  margin-top:1.5rem;
}
.mt_2{
  margin-top:2rem;
}
.mt_4{
  margin-top:4rem;
}
.mb_32{
  margin-bottom: 2rem;
}
.pb_4{
  padding-bottom: 4rem;
}
.ml_2{
  margin-left:2rem;
}
.ml_3{
  margin-left:3rem;
}
.accordion-button:focus{
  box-shadow: none!important;
  outline: none!important;
}
.accordion-button{
  background: #fff;
  color:#999!important;
}
.accordion-button:not(.collapsed){
  background: #fff!important;
  color:#333!important
}
.active{
  color:#03CD8A
}
.part_top{
  margin-top:4.1rem;
}
.carousel-indicators button{
  background: linear-gradient(135deg, #D6FF7A 0%, #19BFA3 100%) !important;
  border-top:unset !important;
  border-bottom: unset !important;
}
.carousel-caption{
  width:100%;
   top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%);
}
.carousel-control-prev,.carousel-control-next{
  display: none !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* custom */
.center{
  text-align: center;
}
.mt_40{
  margin-top:4vw;
}
.nav_a a{
  padding-right: 22px!important;
  color:#333;
  /* font-size:18px; */
}
.nav_a a:hover{
  color:#666
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
  color: #333 !important;
  font-weight: normal!important;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button{
  color: #333 !important;
  font-weight: bold!important;
}
.ft_72{
  font-size:4.5rem
}
.ft_24{
  font-size:1.5rem;
}
.ft_68{
  font-size:4.25rem;
  margin-bottom: 1.5rem;
}
.ft_48{
  font-size:3rem;
}
.carousel_btn{
  display: inline-block;
  border:none;
  width:14.18rem;
  height:4rem;
  background: linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%);
  color:#333;
  border-radius: 2.5rem;
  font-size:1.5rem;
  margin-top:2.5rem;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}
.mt_95{
  margin-top:5.9rem;
}
.mt_56{
  margin-top:3rem;
}
.mb_80{
  margin-bottom: 5rem;
}
.opacity_0{
  opacity: 0;
}

@media  screen and (max-width: 991px) {
  .nav_a{
    background: #fff;
    margin-top:-1.2rem;
  }
  .nav_a a{
    padding-left:2rem;
  }
}


.footer{
  text-align: center;
  background: #222222;
}
.footer .logo{
  margin-top:6rem;
  margin-bottom: 2.6rem;
  color:#fff;
}
.d_link{
  color: #fff !important;
}
.d_link span{
  font-size:12px;
}
.address{
  font-size:12px;
  margin-top:2.68rem;
  margin-bottom: 6rem;
}
.bottom{
  height:4.375rem;
  line-height: 4.375rem;
  background:#111111;
  font-size:12px;
  color:#fff;
}
.navbar-toggler{
margin-top:14px;
}
.navbar-toggler:focus{
  outline: none!important;
  box-shadow: none!important;
  margin-top:14px;
}
.myflex{
  display: flex;
}
.collasping{
  height: unset!important;
  transition: unset!important;
}
@media  screen and (max-width: 1200px){
  .nav_a a{
    padding-right: 15px!important;
  }
}
@media  screen and (max-width: 1083px){
  .carousel-caption h1{
    font-size:3rem;
  }
  .cri_2{
    right:-6%
  }
  .pt5 .row3 div{
    margin: -4rem 0 0 16rem;
  }
}
@media  screen and (max-width: 992px){
  .ft_48{
    font-size:36px;
  }
  .circle_img{
     width: 100% !important;
  }
  .cri_4{
    left:-5%;
    top:9rem;
  }
  .cri_2{
    left:2%;
    top:9rem;
  }
  .cri_3{
    top:19rem;
  }
  .phone_navs{
  display: none !important;
}
.nav_a{
  height: 30rem;
}
}
@media  screen and (max-width: 990px){
  .ft14{
    font-size: 0.875rem;
    line-height:1.4rem;
  }
  .cards img{
    width:9rem;
    height:8rem;
  }
  .pt2_bg{
    /* display: inline-block; */
    /* height:44rem; */
  }
  .prt3_img{
    width:14rem!important;
    margin-top:2rem;
  }
  .cri_4{
    left:-5%;
    top:9rem;
  }
  .cri_2{
    left:2%;
    top:9rem;
  }
  .cri_3{
    top:19rem;
  }
}
@media  screen and (max-width: 950px){

}
@media  screen and (max-width: 767px){
  .ft_48{
    /* font-size:28px!important; */
  }
  /* .carousel-caption{
  top: 7rem !important;
} */
.ft_68{
    font-size:2rem!important;
  }
}
@media  screen and (max-width: 690px){
  .carousel_btn{
    width: 10.18rem;
    height: 3rem;
  }
  
}
@media  screen and (max-width: 665px){
  .carousel_btn{
    margin-top: 0rem !important;
     width: 9.18rem!important;
    height: 2.5rem!important;
  }
}
@media  screen and (max-width: 576px){
  .pt2_bg{
    /* display: inline-block;
    height:0; */
  }
  .logo{
    width:5rem;
    height: 1rem;
  }
  .footer .logo {
    width:unset;
  }
  .carousel-caption h1 {
    font-size: 1.8rem;
}

  .ft_68{
    font-size: 1.5rem !important;
  }
 .carousel-caption p{
   font-size:0.8rem;
 }
 .carousel_btn{
  display: none;
 }
 .pt4{
  height:42rem;
 }
 .address{
  margin-bottom: 10rem;
 }
  .nav_a{
    background: #fff;
    margin-top:0;
  }
  .animate__animated{
    animation-duration: unset!important;
    animation-duration: unset!important;
    animation-fill-mode: unset!important;
  }
  .opacity_0{
    opacity: 1!important;
  }
  .phone_hide{
    display: none;
  }
}
