.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.carousel{
  // .ctitle{
  //   font-size:72px;
  //   // font-weight: bold;
  //   color:#333;
  // }
  h1{
    color:#000;
  }
  p{
    color: #333 !important;
    font-size:24px!important;
    font-weight: unset !important;
  }
}
.pt2_bg{
  height: 100%;
  width:100%
}
.measure{
  .mimg{
    margin-top:7rem;
    position: relative;
    .mcnc{
          position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
    font-size:32px;
    }
    .mcf{
        position: absolute;
    left: 0%;
    top: 65%;
    transform: translate(-0%, -65%);
    font-size:18px;
    }
    .mcnri{
      position: absolute;
    right: 0%;
    top: 65%;
    transform: translate(-0%, -65%);
    font-size:18px;
    }
    .mcr{
       position: absolute;
    left: 31%;
    top: 22%;
    transform: translate(-31%, -22%);
    font-size:18px;
    }
    .mcc{
       position: absolute;
    // right: 28%;
    left:61%;
    top: 22%;
    transform: translate(-45%, -22%);
    font-size:18px;
    width:100%;
    }
  }
  h2{
    margin-top:5rem;
  }
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.cards{
  width:100%;
  text-align: center;
  margin:0 auto;
  border-radius: 0px 24px 0px 24px;
  height:21.5rem;
}
.cards:hover{
  cursor: pointer;

}
.hide{
  display: none;
}
.cardshide{
   width:100%;
   opacity: 0;
   display:none;
      
}
.circle_hover{
  cursor: pointer;
   width:100%;
  height:100%;
  background: linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%);
  border-radius: 16px;
  padding:1rem;
   animation: slide 1s ;
}
.circle_hover p{
  text-align: left!important;
  line-height: 1;
}
.circle_hover img{
  width: 0.85rem !important;
  height: 0.6rem !important;
}
.cardshover{
  width:100%;
  height:100%;
  background: linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%);
  text-align: left;
  line-height: 2rem;
   border-radius: 0px 24px 0px 24px;
  animation: slide 1s ;
}
.corehover{
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%)!important;
  text-align: left!important;
  border-radius: 20px;
    animation: slide 1s ;
    padding:1rem;
    cursor: pointer;
}
@keyframes slide {
  from {opacity: 0;}
  to {opacity: 1;}
}
.cards img{
  width:13rem;
  height: 11rem;
  margin:2.8rem auto 0;
}
.part1_bg{
  background: #F2FEF9;
  /* width:18rem; */
  width:100%;
  height:18rem;
border-radius: 40px;
}
.arrow_right{
  width:4.43rem;
  margin-left:1rem;
}
.flex{
  display: flex;
  width:90%;
}
.text_center{
  text-align: center;
}
.pt2_postion{
  padding:1px;
  padding-bottom: 79px;
  width:100%;
  z-index: 1000;
  background: url('/images/pt2_bg.png') no-repeat;
  background-size: 100% 100%;
  h2{
    margin-top:6rem;
    margin-bottom: 3.5rem;
  }
}
.bg_white{
  background: #fff;
  padding:3rem 2.5rem;
  h4{
    font-size: 2.5rem;
  }
  .content{
    line-height: 2rem;
  }
}
.green_sytle{
  // width: 75%;
// height: 56px;
// line-height:56px;
padding:12px;
color:#fff;
background: #03CD8A;
border-radius: 0px 16px 0px 16px;
margin-top:1.5rem;
}
.green_sytle+p{
  width:90%;
  margin-bottom: 8%;
  margin-top: 4%;
}
.hg_bottom{
  .hg{
    background: #F6F6F6;
    padding:16px;
    margin-bottom: 24px;
    img{
      width:20px;
      height:20px;
      margin-right: 8px;
      margin-top: -4px;
    }
  }
}
// .hg{
//   flex:1;
//   width: 100%;
// height: 6.25rem;
// background: #F2FEF9;
// border-radius: 16px;
// margin-right:3.5rem;
// text-align: center;
// /* line-height: 6rem; */
// }
// .hg img{
//   width:2rem;
//   height: 2rem;
// }
// .hg p{
//   font-size: 12px;
//   margin-top:0.4rem;
// }
// .hg div{
//   margin-top:15%;
// }
.pt3_bg{
  background: #F2FEF9;
  padding:1rem 0;
}
.pt3_img{
  margin-top:10%
}
.pt3_img img{
  width: 1rem !important;;
  padding-right:0.2rem;
}
.pt3_img span{
  font-size:16px;
}
.pt3_img p{
  color:#999999;
  font-size:14px;
  padding:0.5rem 1rem;
}
.circle{
  width:55rem;
  margin:0 auto;
  position: relative;
  text-align: center;
}
.circle img{
  width:55rem;
}
.circle_wrap{
  width:20rem;
  height:8rem;
  line-height: 8rem;
  box-shadow: 0px 0px 20px 0px #EAEAEA;
  border-radius: 16px;
  background: #fff;
}
.circle_wrap img{
  width:2.5rem;
  height:3rem;
  margin-right:0.3rem;
}
.cri_1{
  position: absolute;
  top:-1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.cri_2{
  position: absolute;
  top:10rem;
   right:-9%;
  transform: translateX(9%);
  z-index: 1000;
}
.cri_3{
  position: absolute;
  top:23rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.cri_4{
  position: absolute;
  top:10rem;
  left:-15%;
  transform: translateX(15%);
  z-index: 1000;
}
.cri_3 .cri_arrow1{
  top:3.4rem;
}
.cri_3 .cri_arrow2{
  top:3.4rem;
}
.cri_arrow1{
  width: 2.6rem !important;;
  position: absolute;
  top: 2.4rem;
  left: -4rem;
}
.cri_arrow2{
  width: 2.6rem !important;;
  position: absolute;
  top: 2.4rem;
  right: -4rem!important;
}
.pt5{
  background: #F2FEF9;
  margin:4.5rem 0 0 0;
  padding:1rem 0 6rem 0;
}
.pt6{
  position: relative;
}
.pt6 div{
  color:#fff;
  position: absolute;
  top:10%;
  width:100%;
  text-align: center;
}
.pt6 button{
  width: 160px;
height: 56px;
background: linear-gradient(137deg, #D4FF72 0%, #7FF7E3 100%);
border-radius: 28px;
border: none;
}
.pt5 .row1,.pt5 .row2,.pt5 .row3{
  display: flex;
}
.pt5 .row1 div,.pt5 .row2 div,.pt5 .row3 div{
   background: #fff;
   text-align: center;
   border-radius: 20px;
}
.pt5 .row1 div:first-child{
  width:17.125rem;
  height:12.8rem;
  margin:0 auto;
  margin-right:0;
}
.pt5 .row2 div:first-child{
  width:31rem;
  height:8.9rem;
  margin:0 auto;
  margin-right:1rem;
  margin-top:1rem;
}
.pt5 .row1 div:last-child{
  width:24.75rem;
  height:9.75rem;
  margin:0 auto;
  margin-left:1rem;
  margin-top:3rem;
}
.pt5 .row2 div:last-child{
  width:21rem;
  height:13.75rem;
  margin:0 auto;
  margin-left:0;
  margin-top:1rem;
}
.pt5 img{
  width: 2.5rem;
    height: 3rem;
    margin-right: 0.3rem;
    margin: 3.5rem 0.3rem 0 0
}
.pt5 .row2 div:first-child img{
  margin-top:2rem;
}
.pt5 .row2 div:last-child img{
  margin-top:4rem;
  width:2.5rem;
  height:2.5rem;
}
.pt5 .row1 div:last-child img{
  width:2.5rem;
  height:2.5rem;
}
.pt5 .row3 div{
  width:18rem;
  height:12.875rem;
  margin: -4rem 0 0 27rem;
  
}
.pt1{
  background: #F2FEF9;
  padding-bottom: 6rem;
}
.card_text{
  margin-bottom: 2rem!important;
}
.trade{
  background: #F6F8FA;
  padding-bottom: 6rem;
  h2{
    padding-top: 6rem;
  }
  .chartfooter{
    background: #fff;
    padding:1rem;
  }
}
.partners{
  h2{
    margin-top:90px;
  }
  .row_bottom{
    margin-bottom: 1.32rem;
    div{
      margin-bottom: 8px;
    }
  }
  .partnerslogo{
    img{
      width:100%;
    }
  }
}
@media  screen and (max-width: 1120px){
   .circle_img{
     width: 40rem !important;
  }
  
  .cri_1{
    top:-1.5rem;
  }
  .cri_2{
    right:7%;
    top:8rem;
  }
  .cri_3{
    top:15.5rem;
  }
  .cri_4{
    left:-2%;
    top:8rem;
  }
  .circle_wrap{
    width:16rem
  }
  .circle_hover{
    padding-left: 0.5rem !important;
  }
   .circle_hover span{
    font-size:14px;
   }
   
}
@media  screen and (max-width: 1200px){
  .pt5 .row3 div{
    margin-left:31% !important;
  }
  .mcc{
    right: 24% !important;
  }
}
@media  screen and (max-width: 1400px){
  .pt5 .row3 div{
    margin-left:27% !important;
  }
}
@media screen and (max-width: 1080px){
  .part2_hg{
    // height:40rem;
  }
  .mcnc{
    font-size:24px!important;
    div{
      font-size: 16px !important;;
    }
  }
}
@media  screen and (max-width: 992px){
  .measure h2{
    font-size:36px;
  }
   .circle{
     width: 100% !important;
  }
  .cri_4{
    left: -12% !important;
  }
  .cri_2{
    right: -4% !important;
  }
   .pt5 .row3 div{
    margin-left:17% !important;
  }
  .hg{
    height: 4.5rem;
  }
  .cards img{
    width:9rem;
    height:8rem;
  }
  .cards{
    height:17rem;
  }
  .part2_hg{
    // height:43rem;
  }
  .green_sytle{
    width:100%;
    height: unset;
    line-height: 29px;
  }
  // .phone_hide{
  //   display: none;
  // }
}

@media  screen and (max-width: 826px){
  .pt6 div p{
    margin-bottom: 4rem!important;
}
}


@media  screen and (max-width: 767px){
  
  .mimg{
    div{
      font-size:14px !important;
    }
    .mcnc{
    font-size:16px!important;
  }
  }
  
  .phone_hide{
    display: none !important;
  }
  .bg2{
    display: none;
  }
  .pt2_postion h2{
    margin-top:4rem;
  }
  .pt3_img_col{
    display: none;
  }
  .pt5 .row3 div{
    margin-left:2% !important;
  }
  .circle{
    height:26rem;
  }
   .circle_img{
     display: none;
  }
  .cri_3{
    top:17.5rem;
  }
  .pt6 div p{
    margin-bottom: 2rem!important;
}
}
/* Mobile */
@media (max-width: 700px) {
  .ft_76{
    font-size:2rem!important;
  }
.grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}
@media  screen and (max-width: 690px){
  
}
@media  screen and (max-width: 576px){

  
  #carousel_p{
    font-size:16px !important;
  }
  .part2_hg{
    h2{
      font-size: 1.8rem !important;
      margin:30px 0;
    }
    h4{
      font-size: 1.5rem !important;
    }
  }
  .measure{
    h2{
      font-size: 1.8rem !important;
      margin-top:2rem;
    }
  }
  .trade{
    h2{
      font-size: 1.8rem !important;
    }
  }
  .partners{
    h2{
      font-size: 1.8rem !important;
          margin-top: 3rem;
    }
    
  }
  .green_sytle,.green_sytle+p{
    width:100%;
    line-height: 25px!important;
  }
  .hg{
    margin-right:0.5rem;
  }
  .pt3_img span{
    font-size:14px;
  }
  .cri_4{
        left: 50%!important;
    transform: translateX(-50%);
  }
  .cri_2{
    top:27rem;
    left: 46%!important;
    transform: translateX(-50%);
  }
  .pt5 .row3 div{
    width:14rem;
  }
  .corehover p{
    font-size:14px;
  }
  .pt6 img{
    height:16rem;
  }
  .corehover h5{
    font-size:1rem;
  }
  .measure{
    .mimg{
      margin-top:4rem;
    }
  }
}
@media  screen and (max-width: 576px){
  .phone_mc{
    display: none;
  }
  .part2_hg{
    // height:55rem !important;
  }
  .mcnri{
    left:89%;
    top:76% !important;
  }
  .mcf{
    top:76% !important;
  }
  .pcaru_p{
  margin-top:0rem!important;
  font-size:18px!important;
  }
  .hg{
    height: unset;
  }
  .flex{
  display: flex;
  width:100%;
  }
  .mcc{
    left: 62% !important;
  }
  .partners{
    .row_bottom{
    margin-bottom:0;
    div{
      margin-bottom: 8px;
    }
  }
   
  }
  .bg_white{
    padding:1rem 0.5rem;
        padding-top: 30px;
  }
  .green_sytle{
   padding:10px;
  }
  .trade{
    padding-bottom: 5rem;
    .chartfooter{
      padding:1rem 0;
    }
  }
}

