.red {
  margin-top: 60px;
  color: red;
}
.d_nav:hover{
    color:rgb(0,0,0,.7)!important;
  }
.nvb_bg{
  /* background-color: unset!important; */
  height: 70px;
  line-height: 70px;
 
}
.nvb_bg_white{
  height: 66px;
  line-height: 75px;
  background:#fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.dropColor a{
  color:black
}
.active{
  color: #03cd8a !important;
  font-weight: bold;
}
.active span{
  display: block;
  width:2rem;
  height: 0.2rem;
  /* border-bottom: 1px solid #03CD8A; */
  background: #D8D8D8 linear-gradient(135deg, #D6FF7A 0%, #19BFA3 100%);
  border-radius: 4px;
  margin:0 auto;
  margin-top:0.375rem;
}
.collapse:not(.show) {
    display: unset !important;
}
@media  screen and (max-width: 991px) {
  .active span{
    display: none;
  }
 
}
.arrow{
  font-style: normal;
  display: inline-block;
  width:1rem;
  height:1rem;
  margin-left:0.2rem;
}
.arrow img{
  width:100%;
  height:100%
}
.drop_menu{
  width:100%;
  height:10rem;
  background:#eee;
  position: absolute;
    left: 0;
  top:3.6rem;
}
.hide{
  display: none;
  
}
.toggle_btn{
  border:none;
  width:56px;
  height: 44px;
  line-height: 40px;
  border-radius: 8px;
  margin-top:3px;
  background: #fff;
}
/* .show{
  
  display: block!important; 
  -webkit-animation: fadeIn .7s;
  animation: fadeIn .7s;
} */
.chart ul li{
  list-style: none;
  float: left;
  margin-right: 35px;
  margin-top:35px;
  cursor: pointer;
  font-size: 14px;
}
.chart ul li:hover{
  color:#999;
}

.phone_navs{
   display: none!important;
  }
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
.toggle_btn{
  display: none;
}
@media only screen and (max-width: 991px) {
  .drop_menu{
    width:100%;
    height:10rem;
    background:#eee;
    position: unset;
      /* left: 0; */
    top:3.6rem;
  }
  .phone_nav{
    background: #fff;
    padding:1rem;
    margin-top:unset!important;
  }
  .toggle_btn{
    display: block;
  }
  .collapse:not(.show) {
        margin-top: 1.2rem;
}
}

@media only screen and (max-width: 576px){
  #basic-navbar-nav .navbar-nav{
   margin-top:unset !important;
  }
   .collapse:not(.show) {
        margin-top: 0.5rem;
}
  .section {
    span{
    top: 11% !important;
  }
  }
  .chart ul li{
    margin-right:16px;
  }
}


.section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  span {
  display: block;
  // transform: translateY(-100px);
  opacity: 0;
  position: absolute;
  top:35%;
  width: 100% !important;
  height: 100%;
  text-align: center;
  p{
    color:#fff;
    font-weight: bold;
    font-size: 56px;
  }
}
}
.section_right{
   box-sizing: border-box;
  width: 100%;
  // display: flex;
  justify-content: flex-start;
  height: 100%;
  span{
    width: 100% !important;
    height: 100% !important;
  }
}
.section_left,.section_bottom{
   box-sizing: border-box;
  width: 100%;
  // display: flex;
  justify-content: flex-start;
  // height: 100%;
  span{
    width: 100% !important;
    height: 100% !important;
  }
}