
.part1{
  margin-top:4.1rem;
  position: relative;
  p{
    color: #03cd8a !important;
  }
}
.part2{
  background: #F6F8FA;
  padding-top:1.5rem;
  padding-bottom: 3rem;
  .according{
    background: #fff;
    border-radius: 1rem;
    padding:2.5rem;
    margin-top:2.5rem;
    width:100%;
  }
  .actop{
    flex:1;
    span{
      display: inline-block;
    width: 85% !important;
    vertical-align: middle;
    line-height: 32px;
    }
    img{
      width:2rem;
      height:2rem;
      margin-right:0.5rem;
    }
   
  }
  .according:hover{
    cursor: pointer;
  }
  .content{
    margin-top:1.5rem;
    display: flex;
    p{
      font-size:0.875rem;
      color:#999;
      border-top:1px solid #F6F6F6;
      padding-top:1.5rem;
    }
     img{
      width:2rem;
      height:2rem;
      margin-right:0.5rem;
      margin-top: 1.5rem;
    }
  }
}
@media  screen and (max-width: 576px){
  .part1{
    margin-top:4.1rem;
    img{
      height: 260px!important;
    }
    h1{
      font-size:2.2rem;
    }
  }
  .part2{
    margin-top:70px !important;
    .according{
      padding:1rem;
    }
  }
  .p_ul{
    height: 24rem;
    li{
      width:10rem;
    }
  }
}