.part1{
  position: relative;
  h1{
    position: absolute;
    top:50%;
    width:100%;
    font-size:56px;
    color:#fff;
    font-weight: bold;
  }
}
.part2{
  margin-top:96px;
  .newsdate{
    margin-top:24px;
    font-size:14px;
    color:#999;
    span:last-child{
      float:right;
      margin-top:-3px;
    }
  }
  .news_info{
    margin-bottom: 1rem;
   
  }
  .d_card{
    // box-shadow: 0px 1px 20px 0px rgba(190,190,190,0.5);
    margin-bottom: 3.5rem;
    cursor: pointer;
    .card{
      border:none;
      border-radius: 1.5rem;
      transition: box-shadow 0.3s ease; /* 添加阴影的过渡效果 */
    }
    .d_card_img{
       border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }
  .d_card{
      .card:hover{
        background: transparent;
       box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
      -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
      -moz-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
      }
  }
  
}
.card_body{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-bottom: 0;
  div{
    height: 48px;
  }
}
.arrow_right {
  position: relative;
  height: 20px;
  width: 20px;
  color:#999;
}

.arrow_right::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media  screen and (max-width: 576px){
  .part1{
    margin-top:4.1rem;
    img{
      height: 260px!important;
    }
    h1{
      font-size:1.8rem;
    }
  }
  .part2{
    margin-top:70px !important;
  }
}